.categories-imageContainer {
  position: relative;
  display: inline-block;
  margin-top: 50%;
}

.category-categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  position: absolute;
  top: 15%;
  font-family: 'Open Sans';
  color: #ffffff;
}


.category-categoriesList {
  position: absolute;
  top: 35%;
  font-family: 'Open Sans';
  color: #FBAF17;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.category-cardBody {
  background-color: #FBAF17;
  border-radius: 45px;
}

.category-cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  min-height: 25%;
  font-size: medium;
}