.imageNavbar {
  width: 7%;
}

.logo {
  width: 8%;
  margin: 0 150px;
}

#navbarNavDropdown {
  display: flex;
  justify-content: center;
  padding: 0.5%;
  font-family: 'Open Sans';
  background-color: #FBAF17;
  border-radius: 50px 0 0 50px;
  color: #202332;
  font-size: small;
}

#home {
  font-weight: 600;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: small;
  font-weight: 600;
}

.dropdownImageCategory{
  background-color: #FBAF17;
  border-radius: 10px;
}

.btn-navyBlue {
  background-color: #202332;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 0 25px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .imageNavbar {
    width: 15%;
  }

  .logo {
    width: 20%;
    margin: 0 30px;
  }

  #navbarNavDropdown {
    border-radius: 50px 20px 50px 20px;
  }

  #navbarNavDropdown {
    font-size: smaller;
  }

  .dropdownContainer {
    font-size: x-small;
  }

  .btn-navyBlue {
    padding: 5px 12px;
    font-weight: 500;
  }
}