.imageNavbar {
  width: 7%;
}

.logo {
  width: 8%;
  margin: 0 150px;
}

#navbarNavDropdown {
  font-family: 'Open Sans';
  background-color: #FBAF17;
  justify-content: center;
  display: flex;
  border-radius: 50px 0 0 50px;
  color: #202332;
  font-size: small;
  padding: 0.5%;
}

#home {
  font-weight: 600;
}

.btn-navyBlue {
  background-color: #202332;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 0 25px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .navbar-link {
    height: 80px;
  }

  .btn-navyBlue {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .navbar-link {
    height: 220px;
  }

  .btn-navyBlue {
    margin-right: 10px;
  }
}
